.c-avatar {
  border-radius: 50%;
  border: 6px solid white;
  height: 250px;
  width: 250px;
}

.c-link {
  border: 0;
  background-color: transparent;

  &__icon {
    display: inline-block;
    height: 1.1em;
    vertical-align: middle;
    width: 1.1em;
  }
  &__animated-text {
    background-color: transparent;
    display: inline-block;
    line-height: 1.4;
    padding: 0 .6em;
    position: relative;
    transition: all .4s ease;
    vertical-align: middle;

    &:hover {
      animation-duration: .8s;
      animation-iteration-count: infinite;
      animation-name: animation__shadow-hover;
      background-color: white;
      color: transparent;
    }
  }

  &__icon + &__animated-text {
    left: 0.1em;
  }

  &--bigger {
    font-size: 2.1rem;
  }
  &--vertical-list {
    display: inline-block;
    margin: 1.6em;
  }
}

.c-btn {
  --transition-time: .5s;

  background-color: white;
  border: 0;
  border-radius: 0.4rem;
  color: var(--brand-color);
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4em;
  font-weight: 500;
  height: 2em;
  line-height: 1;
  overflow: hidden;
  padding: 0 .8em;
  transition: all var(--transition-time);

  &:disabled {
    height: 0;
    margin-top: 0;
    opacity: 0;
  }

  &--block {
    width: 100%;
  }
  &--animated {
    &:hover {
      animation-duration: .8s;
      animation-iteration-count: infinite;
      animation-name: animation__shadow-hover;
      background-color: white;
      color: transparent;
    }
  }
}

.c-good-links {
  background-color: rgba(0, 0, 0, 0.2);
  border: 0.6rem solid var(--brand-color-alpha50);
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  max-width: 800px;
  min-width: 320px;
  padding: 2.6rem 3rem 2rem;
  border-top: transparent;
  width: 80%;

  @media (min-width: 600px) {
    padding-top: 2.4rem;
    font-size: 1.2rem;
  }

  &__link {
    color: white;
    font-size: 1.8em;
    font-weight: 300;
    font-weight: 700;
    line-height: 1.4;
    position: relative;
    text-align: center;
    text-shadow: 0.5rem 1.2rem 0 rgba(0, 0, 0, 1);

    &::after {
      background-color: white;
      content: "";
      display: none;
      height: .5rem;
      left: 50%;
      position: absolute;
      top: -1.8rem;
      transform: translateX(-50%);
      width: .5rem;
    }
    &:hover {
      color: var(--yellow);
    }

    @media (min-width: 600px) {
      text-align: left;

      &::after {
        left: 0;
        transform: none;
      }
    }
  }
  &__link[style*="display: block"] + &__link[style*="display: block"] {
    margin-top: 3.6rem;

    &::after {
      display: block;
    }
  }
  &__button {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.8em;
    max-width: 200px;
  }

  /*
  * External Favicons.
  */
  &__link[href] {
    text-indent: 1.2em;

    &::before {
      background: center center no-repeat url(/images/icons/external_link_icon.svg);
      background-size: contain;
      color: var(--yellow);
      content: "";
      display: inline-block;
      height: 0.8em;
      left: 0;
      position: absolute;
      top: 0.3em;
      width: 0.8em;
    }
  }
}

.c-git-activity {
  margin: 0 auto;
}
.c-git-user {
  font-size: 2rem;
  margin: 0 auto;
  max-width: 96%;
  text-align: center;

  &__name {
    display: none;
  }
  &__url {
    display: inline-block;
    font-size: 2.3rem;
    line-height: 1.4;
    overflow: hidden;
    position: relative;
    text-indent: 1.6em;
    transition: width .5s ease-in;
    width: 1.2em;

    &:hover {
      transition-timing-function: ease-out;
      width: 6em;
    }

    &::before {
      background-size: contain;
      background: center center no-repeat url(/images/github.svg);
      content: "";
      display: inline-block;
      height: 1.2em;
      left: 0;
      position: absolute;
      top: 0.1em;
      width: 1.2em;
    }
  }

  @media (min-width: 768px) {
    text-align: right;
  }
}
.c-git-activity__repositories {
  @media (min-width: 768px) {
    align-items: flex-start;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
  }
}
.c-git-repository {
  background-color: rgba(0, 0, 0, 0.2);
  border-bottom: 0.6rem solid var(--brand-color-alpha50);
  font-size: 1.6rem;
  margin: 2.5rem 5%;
  padding: 3rem 3rem 3rem;
  text-align: center;

  & + & {
    margin-top: 6rem;
  }
  &__name {
    margin: 0 0 1.2em;
    font-size: 1.6em;
    font-weight: 400;
    text-align: center;

  }
  &__link {
    color: var(--yellow);
  }
  &__description {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-size: 1.2em;
    font-weight: 500;
    margin: .8em 0 1.6em;
  }
  &__commits-all {
    font-size: .9em;
    text-transform: lowercase;
    margin: 1.4em auto 0;
    float: right;
  }

  @media (min-width: 768px) {
    margin-bottom: 3rem !important;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 3rem !important;;
    width: 44%;
  }
  @media (min-width: 1200px) {
    font-size: 1.8rem;
  }
  @media (min-width: 1600px) {
    width: 29.3%;
    margin-left: 2%;
    margin-right: 2%;
    font-size: 1.9rem;

  }
}
.c-git-activity__commits {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 1em;
  line-height: 1.2;

  &::after {
    clear: both;
    content: "";
    display: block;
  }
}
.c-git-commit {
  position: relative;
  text-align: left;
  text-indent: .5em;
  width: 100%;

  &::before {
    color: var(--yellow);
    content: "•";
    display: inline;
    font-size: 2.4em;
    left: -.4em;
    position: absolute;
    top: -.45em;
    vertical-align: middle;
  }

  & + & {
    margin-top: .4em;
  }
  &__message {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}