*[href^="https://css-tricks.com"]::before {
  background-image: url(https://css-tricks.com/apple-touch-icon.png) !important;
}
*[href^="https://www.smashingmagazine.com"]::before {
  background-image: url(https://www.smashingmagazine.com/images/favicon/favicon.png) !important;
}
*[href^="https://overreacted.io"]::before {
  background-image: url(https://overreacted.io/icons/icon-48x48.png) !important;
}
*[href^="https://www.youtube.com"]::before {
  background-image: url(/images/icons/youtube.png) !important;
}
*[href^="https://nodesource.com"]::before {
  background-image: url(https://nodesource.com/assets/favicon.ico) !important;
}
*[href^="https://www.robinwieruch.de"]::before {
  background-image: url(https://www.robinwieruch.de/img/favicon/favicon.ico) !important;
}
*[href^="https://blog.apollographql.com"]::before {
  background-image: url(https://cdn-images-1.medium.com/fit/c/60/60/1*h3E_KHKB9jNKTkXkhrY5gA.png) !important;
}
*[href^="https://andy-bell.design"]::before {
  background-image: url(https://hankchizljaw.imgix.net/favicon-32x32.png) !important;
}
*[href^="https://snipcart.com"]::before {
  background-image: url(https://snipcart.com/images/favicons/favicon-32x32.png) !important;
}
*[href^="https://medium.freecodecamp.org"]::before {
  background-image: url(https://cdn-images-1.medium.com/fit/c/60/60/1*MotlWcSa2n6FrOx3ul89kw.png) !important;
}
*[href^="https://dev.to"]::before {
  background-image: url(https://practicaldev-herokuapp-com.freetls.fastly.net/assets/favicon-bca01e42dfbe772972ebe01e7150cdb8b75555c612b20b7e3059a10e0ca6f759.ico) !important;
}
*[href^="https://javascript.info"]::before {
  background-image: url(https://javascript.info/img/favicon/favicon.png) !important;
}
*[href^="https://blog.bitsrc.io"]::before {
  background-image: url(https://cdn-images-1.medium.com/fit/c/40/40/1*qXDxf0QfJTyPbPO2ZgL7Xw@2x.png) !important;
}
*[href^="https://addyosmani.com"]::before {
  background-image: url(https://addyosmani.com/assets/images/favicons/favicon-32x32.png) !important;
}
*[href^="https://medium.com"]::before {
  background-image: url(/images/icons/medium.svg) !important;
  background-size: 104% auto !important;
}
*[href^="https://egghead.io"]::before {
  background-image: url(https://egghead.io/assets/apple-touch-icon-0c8b8020535cd5b922eabf1c3dbf5a73fe35273a613cb3aa27e651ac9fdeff38.png) !important;
}
*[href^="https://www.vojtechruzicka.com"]::before {
  background-image: url(https://www.vojtechruzicka.com/favicons/favicon.png) !important;
}