*[href^="https://css-tricks.com"]::before {
  background-image: url(https://css-tricks.com/apple-touch-icon.png) !important;
}
*[href^="https://www.smashingmagazine.com"]::before {
  background-image: url(https://www.smashingmagazine.com/images/favicon/favicon.png) !important;
}
*[href^="https://overreacted.io"]::before {
  background-image: url(https://overreacted.io/icons/icon-48x48.png) !important;
}
*[href^="https://www.youtube.com"]::before {
  background-image: url(/images/icons/youtube.png) !important;
}
*[href^="https://nodesource.com"]::before {
  background-image: url(https://nodesource.com/assets/favicon.ico) !important;
}
*[href^="https://www.robinwieruch.de"]::before {
  background-image: url(https://www.robinwieruch.de/img/favicon/favicon.ico) !important;
}
*[href^="https://blog.apollographql.com"]::before {
  background-image: url(https://cdn-images-1.medium.com/fit/c/60/60/1*h3E_KHKB9jNKTkXkhrY5gA.png) !important;
}
*[href^="https://andy-bell.design"]::before {
  background-image: url(https://hankchizljaw.imgix.net/favicon-32x32.png) !important;
}
*[href^="https://snipcart.com"]::before {
  background-image: url(https://snipcart.com/images/favicons/favicon-32x32.png) !important;
}