/* Contenedor General (Justo dentro del Body). */
.l-page-wrapper {
  background-color: black;

  &::before {
    background: transparent url("/images/page_bg--colored.jpg") no-repeat center center;
    background-size: cover;
    content: "";
    display: block;
    height: 100%;
    position: fixed;
    transition: opacity 1s ease;
    width: 100%;
  }

  &--darken-bg {
    &::before {
      opacity: 0.6;
    }
  }
}

/* Contenedor del contenido principal. Se pueden sumar .l-header o .l-footer. */
.l-content {
  position: relative;
  z-index: 10;
}

/* Contenedor de secciones. */
.l-section {
  &--fullsize {
    padding: 15vh 0;
    min-height: 100vh;
    width: 100%;
  }
  &--center {
    align-items: center;
    display: flex;
    justify-content: center;
  }
  &--column {
    flex-direction: column;
  }

  &__title {
    background: linear-gradient(to right, var(--orange), var(--orange-lighten));
    color: white;
    font-size: 2.6rem;
    margin: 0 0 2.6rem;
    text-align: center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @media (min-width: 600px) {
      font-size: 3.2rem;
    }
  }
}