/* Profile. */
.l-profile {
  &__link {
    margin-top: 1.2em;
  }
}

/* Links. */
.l-links {
  padding: 0 0 20vh;

  &__title {
    margin: 0 0 4rem;
  }
}
body.ce-fallback {
  .c-good-links {
    &__link {
      display: none;
    }
    &__link:nth-child(1),
    &__link:nth-child(2),
    &__link:nth-child(3),
    &__link:nth-child(4),
    &__link:nth-child(5),
    &__link:nth-child(6) {
      display: block;
      margin-top: 1.2rem;
    }
    &__button {
      display: none;
    }
  }
}